body {
  background-color: #f8f9fa;
  color: #495057;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 20px;
}

h1 {
  color: #007bff;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.searchdata {
  display: flex;
  align-items: baseline;
}

.searchdata input {
  flex: 1;
  margin-right: 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

#profile-info {
  margin-top: 20px;
}

#profile-info img {
  max-width: 200px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#profile-info h2 {
  color: #343a40;
  font-size: 1.8em;
  margin-bottom: 10px;
}

#profile-info .bio {
  color: #4f030b;
  font-weight: 600;
  font-style: inherit;
  margin-bottom: 15px;
}

#profile-info p {
  color: #6c757d;
}

@media (max-width: 576px) {
  #profile-info h2 {
    font-size: 1.5em;
  }

  #profile-info .bio {
    font-size: 1em;
  }
}

.row {
  margin-bottom: 20px;
}

.card {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  color: #044d96;
}

.card-text {
  color: #6c757d;
}

.pagination {
  margin-top: 20px;
}

#loader {
  display: none;
  margin-top: 20px;
}

.spinner-border {
  color: #007bff;
}


@media (max-width: 768px) {
  .searchdata {
    flex-direction: column;
    align-items: stretch;
  }

  .searchdata input {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .form-group .form-row {
    flex-direction: column;
  }
}
